<h2>About</h2>
<div class="bookInfo">
<div class="bookCover">
<%= image_tag("rgdc-logo.jpg") %>
</div>
  <div class="bookDetails" style="self">
    <p><strong>How it Works.</strong> If you are in the Washington, D.C. area and see a book you would like to borrow you may submit a reservation request. We will contact you to schedule a time and place to receive the book and also set the lending period.</p>
<p>The Rails Girls DC Lending Library is an effort by Rails Girls DC to provide it's members with access to a variety of learning resources.</p>
<p>Majority of these resources are provided by publishers. If you are interested in donating to our library, or have suggestions on how we might improve it, please contact us at railsgirlsdc[at]gmail.com.</p>
<p>To learn more about Rails Girls DC please visit <a href="http://railsgirlsdc.com">railsgirlsdc.com</a> or join our <a href="http://meetup.com/railsgirlsdc">meetup group</a> and attend events.</p>
</div>
  </div>