<% if @book.available %>
  <p class="available"><%= link_to "Reserve this book", new_book_status_path(@book, @status) %></p>
<% else %>
  <p class="unavailable">Sorry, this book is not available right now.</p>
<% end %>