<form>
<p><label>Name</label></p>
<p><input type="text" value="name"></p>
<p><label>Email</label></p>
<p><input type="text" value="email"></p>
<p><label>Phone Number</label></p>
<p><input type="text" value="phone_number"></p>
</form>