<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We received your request for, <%= @status.book.title %></h1>
    <p>
      We'll be in touch shortly to arrange the delivery details.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>