<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @status.borrower_name %> would like to borrow a copy of <%= @status.copy.book.title %></h1>
    <p>
      Please login to view their contact information.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>